.headline {
  padding-left: 25%;
}

.detailContainer,
.reviewForm,
.reviewContainer {
  display: grid;
  margin: 1% 25% 1% 25%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.detailContainer {
  grid-template-columns: auto 60%;
  grid-template-rows: auto;
  grid-template-areas:
    "editGameButton addGameButton"
    "detailImage detailInfo"
    "detailDescription detailDescription"
}

#editGameButton {
  justify-self: left;
  grid-area: editGameButton;
}

#addGameButton {
  grid-area: addGameButton;
  justify-self: end;
  height: 2.2em;
  width: 16.2em;
}

th,
td {
  padding: 5px;
  vertical-align: top;
}

#detailInfo {
  grid-area: detailInfo;
  align-self: start;
}

#detailImage {
  max-width: 100%;
  max-height: 100%;
  grid-area: detailImage;
}

#detailDescription {
  grid-area: detailDescription;
}

.reviewForm {
  grid-template-columns: auto auto 150px;
  grid-template-rows: auto;
  grid-template-areas:
    "reviewFormHeadline reviewFormHeadline recommendation-label"
    "reviewText reviewText recommendation"
    "reviewText reviewText ."
    ". . submit"
}

#reviewFormHeadline {
  grid-area: reviewFormHeadline;
}

#reviewText {
  grid-area: reviewText;
}

label[for="recommendation"] {
  grid-area: recommendation-label;
  justify-self: end;
}

#recommendation {
  grid-area: recommendation;
  justify-self: end;
}

#submit {
  grid-area: submit;
}

#editReviewButton {
  grid-area: editReviewButton;
  justify-self: end;
  height: fit-content; 
  margin-top: 20px;
}

#deleteReviewButton {
  grid-area: deleteReviewButton;
  justify-self: left;
  height: fit-content; 
  margin-top: 20px;
}

textarea {
  overflow-y: scroll;
  height: 100px;
  resize: none;
  padding: 10px 20px 10px 10px;
  text-align: justify;
  overflow-x: hidden;
}

.reviewContainer {
  grid-template-columns: 3% auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "reviewImage reviewUsername reviewDate"
    "reviewHeadline reviewHeadline reviewRating"
    "reviewContent reviewContent reviewContent"
    "deleteReviewButton . editReviewButton"
}

.reviewImage {
  max-width: 30px;
  max-height: 30px;
  grid-area: reviewImage;
}

.reviewUsername {
  grid-area: reviewUsername;
}

.reviewDate {
  grid-area: reviewDate;
  justify-self: end;
}

.reviewHeadline {
  grid-area: reviewHeadline;
}

.reviewRating {
  grid-area: reviewRating;
  justify-self: end;
}

.reviewContent {
  grid-area: reviewContent; 
}

.reviewContainer p,
.reviewContainer time {
  margin: 0;
}