/* #region Navigation Bar*/
header {
    display: grid;
    position: sticky;
    top: 0;
    grid-template-rows: auto;
    grid-template-columns: 30% auto;
    grid-template-areas: "logo links";
    align-items: center;
    background-color: rgb(192, 192, 192);
}

.logo {
    grid-area: logo;
    place-self: center;
    cursor: pointer;
}

.navigation {
    grid-area: links;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    border: 1px solid #2b2929;
    border-radius: 5px;
    background-color: #2b2929;
    padding: 5px;
}

.nav-links li:hover {
    display: inline-block;
    border: 1px solid #2b2929;
    border-radius: 5px;
    background-color: rgb(192, 192, 192);
    padding: 5px;
}

.nav-links li a {
    display: all 0.3s ease 0s;
    color: white;
    font-style: italic;
    text-decoration: none;
}

.nav-links li a:hover {
    display: all 0.3s ease 0s;
    font-style: italic;
    text-decoration: none;
}
/* #endregion */
html,
body, 
main {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    width: 50%;
}

fieldset {
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 10px;
    padding: 10px;
}

.form-input {
    display: flex;
    column-gap: 10px;
}

.form-input>label {
    flex: 2;
}

.form-input>input {
    flex: 3;
}

.form-content {
    display: grid;
    grid-template-areas: "set-personal-infos set-profile-pic"
                         "set-account-data set-account-data";
    gap: 15px;
}

.set-personal-infos {
    grid-area: set-personal-infos;
    display: flex;
    flex-direction: column;
}

.set-personal-infos>fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.set-profile-pic {
    grid-area: set-profile-pic;
}

.set-profile-pic {
    grid-area: set-profile-pic;
}

.set-profile-pic .form-input>label{    
    text-align: end;
}

.profile-pic {
    justify-self: center;
}

.profile-pic img {
    width: 15vw;
    min-width: 100px;
    height: auto;
}

.set-account-data {
    grid-area: set-account-data;
}

.set-account-data table {
    padding: 10px 20%;
    width: 100%;
    table-layout: fixed;
}

.set-account-data th:first-child,
.set-account-data td:first-child{
    text-align: left;
}

.set-account-data th:nth-child(2),
.set-account-data td:nth-child(2) {
    text-align: center;
}

.set-account-data th:last-child,
.set-account-data td:last-child {
    text-align: end;
}

.send-form-options{
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.delete-profile {
    display: inline;
    position: relative;
    top: -21px;
}

.delete-profile>* {
    color: red;    
}