html,
body,
main {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    width: 50%;
}

h1{
    font-size: xx-large;
    text-align: center;
}

#infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "profile-pic profile-info"
                         "profile-pic edit-profile-btn"
                         "lending-info lending-info";
    gap: 0 5vw;
}

#profile-pic {
    grid-area: profile-pic;
    justify-self: center;
}

#profile-pic img {
    width: 15vw;
    min-width: 100px;
    height: auto;
}

#profile-info {
    grid-area: profile-info;
    place-self: center;
}

#profile-info #personal-data,
#profile-info #payment-data {
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#profile-info h2 {
    margin: 0.2em 0;
}

#profile-info td {
    vertical-align: top;
    padding: 5px 10px;
}

#profile-info ul {
    margin: 0;
    padding: 0;
}

#profile-info li {
    list-style: none;
}

#edit-profile-btn {
    grid-area: edit-profile-btn;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150%;
}

#edit-profile-btn>button {
    width: 40%;
    height: 100%;
}

#lending-info {
    grid-area: lending-info;
}

#lending-info table {
    border-collapse: collapse;
    width: 100%;
}

#lending-info th,
#lending-info td {
    padding: 10px;
    text-align: center;
}


#lending-info th,
#lending-info tr:not(:last-child) {
    border-bottom: 1px solid black;
}