/* #region Navigation Bar*/
header{
    display: grid;
    
    position: sticky;
    top: 0;
    grid-template-rows: auto;
    grid-template-columns: 30% auto;
    grid-template-areas: "logo links";
    align-items: center;
    background-color: rgb(192, 192, 192);
}

.logo{
    grid-area: logo;
    place-self: center;
    cursor: pointer;
}

.navigation{
    grid-area: links;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    border: 1px solid #2b2929;
    border-radius: 5px; 
    background-color: #2b2929;
    padding: 5px;
}

.nav-links li:hover {
    display: inline-block;
    border: 1px solid #2b2929;
    border-radius: 5px; 
    background-color: rgb(192, 192, 192);
    padding: 5px;
}

.nav-links li a{
    display: all 0.3s ease 0s;
    color: white;
    font-style: italic;
    text-decoration: none;
}

.nav-links li a:hover{
    display: all 0.3s ease 0s;
    font-style: italic;
    text-decoration: none;
}
/* #endregion */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infos{
    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-template-areas: "profile-pic profile-info"
                         "profile-pic edit-profile-btn"
                         "lending-info lending-info";
    gap: 0 5vw;
}

#profile-pic{
    grid-area: profile-pic;
    justify-self: center;
}

#profile-pic img{
    width: 15vw;
    min-width: 100px;
    height: auto;
}

#profile-info{
    grid-area: profile-info;
    place-self: center;
}

#profile-info #personal-data,
#profile-info #payment-data{
    margin: 1em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#profile-info h2{
    margin: 0.2em 0;
}

#profile-info td{
    vertical-align: top;
    padding: 5px 10px;
}

#profile-info ul{
    margin: 0;
    padding: 0;
}

#profile-info li{
    list-style: none;
}

#edit-profile-btn{
    grid-area: edit-profile-btn;
    place-self: center;
    width: 40%;
    height: 150%;
}

#lending-info{
    grid-area: lending-info;
}

#lending-info table{
    border-collapse: collapse; 
    width: 100%;
}

#lending-info th,
#lending-info td
{
    padding: 10px;
    text-align: center;
}


#lending-info th,
#lending-info tr:not(:last-child){
    border-bottom: 1px solid black;
}