* {
    box-sizing: border-box;
}

html,
body,
main {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
}

.register-section {
    display: flex;
    align-items: center;
}

.logo {
    flex: 2;
}

.logo>img {
    width: 100%;
}

.register-form {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 10px;
}

.register-form>* {
    flex: 1;
}

.register-form fieldset {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 5px;
    padding: 15px;
}

.form-input {
    display: flex;
}

.form-input>label {
    flex: 1;
}

.form-input>input {
    flex: 2;
}

.form-input>* {
    display: block;
    width: 100%;
    height: 100%;
}

.form-button {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

.form-button>* {
    width: 62%;
    height: 80%;
}

.register-link {
    display: block;
    margin-top: 10px;
    font-size: smaller;
    text-align: center;
}