* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button,
input[type="submit"],
.logo {
    cursor: pointer;
}

button, 
input[type="submit"] {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    background: rgba(193, 193, 193, 0.5);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:active,
input[type="submit"]:active {
    transform: scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px, rgba(0, 0, 0, 0.23) 0px 2px 3px;
}
