*
{
    /*font-style: italic, sans serif;*/
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    /*height: fit-content; */
}

#app{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo{
    cursor: pointer;
}
