<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Burrow</title>
    <link rel="stylesheet" href="../css/startpage_style.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="../images/logo.svg" alt="logo">
        <nav class="navigation">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="gameForm.html">Neues Spiel anlegen</a></li>
                <li><a href="profile_page.html">Profil</a></li>
                <li><a href="login_page.html">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-page-container">
        <div class="search">
            <input type="text" class="searchBox" placeholder="Search for games!">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="sort">
            <div class="filter-bar">
                <select name="genres" id="genres" class="genre-filter">
                    <!--
                    <option value="fantasy">Fantasy</option>
                    -->
                </select>
                <select name="platform" id="platform" class="platform-filter">
                    <!--
                    <option value="All">All</option>
                    <option th:each="platform : ${platforms}" th:value="${platform}" th:text="${platform}">Keine Platform Verfügbar</option>
                    -->
                </select>
                <div class="dev-filter">
                    <label for="dev">Developer: </label>
                    <input type="text" id="dev" name="developer" class="dev-input">
                </div>
                <button type="submit" class="apply-filter">
                    <i class="fa fa-filter"></i>
                </button>
            </div>
        </div>
        <div class="overview">
            <table class="overview-table-container">
                <!--
                <tr class="overview-entry">
                    <td class="overview-image"><a href="detail_page.html"><img src="../images/dummy-image.jpg" alt="logo"></a></td>
                    <td class="overview-description">Hier steht was zum Spiel</td>
                </tr>
                -->
            </table>
        </div>
    </div>
</body>
<script src="../js/startpage.js"></script>
</html>