<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GameTracker</title>
    <link rel="stylesheet" href="/style/detail_page.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/logo.svg" alt="logo">
        <nav class="navigation">
            <ul class="nav-links">
                <li><a href="/thymeleaf/home">Home</a></li>
                <li><a href="#">Neues Spiel anlegen</a></li>
                <li><a href="/account/1">Profil</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="headline" th:text="${game.title}">Kein Titel verfügbar</h1>
        <div class="container">
            <div class="detailContainer">
                <img id="detailImage" th:src="'data:image/jpg;base64,' + ${game.gameImage}"
                    alt="Bild nicht verfügbar" />

                <form id="editGameButton">
                    <input th:if="${account.isPublisher()}" type="submit" value="Bearbeiten">
                </form>
                <div id="addGameButton">
                    <button th:if="${!account.isPublisher()}">Zu Liste hinzufügen</button>
                </div>
                <div>
                    <table id="detailInfo">
                        <tr>
                            <td>Plattform:</td>
                            <td>
                                <span th:each="platform, stat : ${game.platforms}">
                                    <span th:text="${platform}">Keine Plattform verfügbar</span>
                                    <span th:if="${!stat.last}">, </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Genre:</td>
                            <td>
                                <span th:each="genre, stat : ${game.genres}">
                                    <span th:text="${genre}">Keine Plattform verfügbar</span>
                                    <span th:if="${!stat.last}">, </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Veröffentlichung:</td>
                            <td th:text="${#temporals.format(game.publicationDate, 'dd.MM.yyyy')}">Kein
                                Veröffentlichungsdatum verfügbar</td>
                        </tr>
                        <tr>
                            <td>Entwickler:</td>
                            <td th:text="${game.developer}">Keine Entwickler verfügbar</td>
                        </tr>
                        <tr>
                            <td>Publisher:</td>
                            <td th:text="${game.publisher}">Keine Publisher verfügbar</td>
                        </tr>
                        <tr>
                            <td>Altersfreigabe:</td>
                            <td th:text="${game.ageRating}">Keine Altersfreigabe verfügbar</td>
                        </tr>
                    </table>
                </div>
                <div id="detailDescription">
                    <p th:text="${game.description}">Kein Beschreibung verfügbar</p>
                </div>
            </div>
        </div>

        <section class="container">
            <h2 class="headline">Reviews</h2>
            <div id="addReview">
                <form class="reviewForm" action="./detail_page.html">
                    <input type="text" id="reviewFormHeadline" name="reviewFormHeadline" placeholder="Titel" required>
                    <textarea id="reviewText" name="reviewText" required></textarea>
                    <label for="recommendation">Deine Bewertung?</label>
                    <select name="recommendation" id="recommendation">
                        <option value="">--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <input id="submit" type="submit" value="Review veröffentlichen">
                </form>
            </div>

            <div class="reviewContainer" th:each="review: ${game.reviewsDto}">
                <img th:if="${review.accountDto.profilePicture != null}" class="reviewImage"
                    th:src="'data:image/jpg;base64,' + ${review.accountDto.profilePicture}" alt="Profilbild">
                <img th:unless="${review.accountDto.profilePicture != null}" class="reviewImage"
                    src="/images/profile_pic_default.svg" alt="Bild nicht verfügbar">
                <div class="reviewUsername" th:text="${review.accountDto.username}">kein Username verfügbar</div>
                <div class="reviewDate" th:text="${#temporals.format(review.reviewDate, 'dd.MM.yyyy')}">Kein Datum
                    verfügbar</div>
                <h3 class="reviewHeadline" th:text="${review.reviewHeadline}">Kein Titel verfügbar</h3>
                <div class="reviewRating" th:text="${review.rating + '/10'}">Kein Rating verfügbar</div>
                <div class="reviewContent" th:text="${review.reviewText}">Kein Review verfügbar</div>
                <div th:if="${review.accountDto.id == account.getId()}" id="editReviewButton">
                    <button>Bearbeiten</button>
                </div>
            </div>
        </section>
    </main>


</body>

</html>