<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GameTracker</title>
    <link rel="stylesheet" href="/style/startpage_style.css">
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/logo.svg" alt="logo">
        <nav class="navigation">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li th:if="${account.publisher}"><a href="#">Neues Spiel anlegen</a></li>
                <li><a href="/thymeleaf/account/1">Profil</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-page-container">
        <form class="search" th:action="@{'/thymeleaf/game/games-search'}" method="post" th:object="${Query}">
            <input type="text" class="searchBox" placeholder="Search for games!" th:field="*{query}">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <form th:action="@{'/thymeleaf/game/filtered-games'}" th:object="${FilterInfo}" method="post" class="sort">
                <div class="filter-bar">
                    <label for="genre"> Genre</label>
                    <select name="genre" id="genre" class="genre-filter" th:field="*{genre}">
                        <option value="All">All</option>
                        <option value="Action">Action</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Kampfspiel">Fighting game</option>
                        <option value="Plattformer">Platformer</option>
                        <option value="Puzzle">Puzzle</option>
                        <option value="Rennspiel">Racing</option>
                        <option value="Rollenspiel">RPG</option>
                        <option value="Shooter">Shooter</option>
                        <option value="Simulation">Simulation</option>
                        <option value="Sport">Sport</option>
                        <option value="Strategie">Strategy</option>
                        <option value="Unbekannt">Unknown</option>
                    </select>
                    <label for="platform"> Platform</label>
                    <select name="platform" id="platform" class="platform-filter" th:field="*{platform}">
                        <option value="All">All</option>
                        <option value="Nintendo Switch">Nintendo Switch</option>
                        <option value="Windows">Windows</option>
                        <option value="Playstation 4">Playstation 4</option>
                        <option value="Playstation 5">Playstation 5</option>
                        <option value="XBox One">XBox One</option>
                        <option value="XBox Series">XBox Series</option>
                    </select>
                    <div class="dev-filter">
                        <label for="dev">Developer: </label>
                        <input type="text" id="dev" name="developer" th:field="*{developer}">
                    </div>
                    <button type="submit" class="apply-filter">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
        </form>
        <div class="overview">
            <table class="overview-table-container">
                <tr th:each="game: ${games}" class="overview-entry">
                    <td class="overview-image"><a th:href="@{/thymeleaf/game/{id}(id=${game.id})}"><img th:src="'data:image/jpg;base64,' + ${game.gameImage}" alt="logo"></a></td>
                    <td class="overview-description" th:text="${game.description}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>