@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.main-page-container {
    display: grid;
    font-family: 'Open Sans', sans-serif;
    grid-template-areas: "search"
                         "sort"
                         "overview";
    grid-template-columns: auto;
    grid-template-rows: 100px 100px auto;
    align-items: center;
    justify-items: center;
}

.search{
    grid-area: search;
    width: 66%;
    display: flex;
}

.searchBox{
    border: 3px solid #2b2929;
    border-right: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #2b2929;
}

.searchButton{
    width: 40px;
    height: 36px;
    border: 1px solid #2b2929;
    background: #2b2929;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover{
    width: 40px;
    height: 36px;
    border: 1px solid #2b2929;
    background: #fff;
    text-align: center;
    color: #2b2929;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.sort{
    grid-area: sort;
    width: 66%;
}

.filter-bar{
    width: 100%;
    height: 100px;
    border: 3px solid #2b2929;
    border-radius: 5px;
    background-color: aliceblue;

    
    display: grid;
    grid-template-areas:"genre-label  platform-label  dev-label  apply-filter" 
                        "genre-filter platform-filter dev-filter apply-filter";
    grid-template-columns: 25% 25% 25% auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
}

.filter-bar label[for="genres"]{
    grid-area: genre-label;
}

.filter-bar label[for="platform"]{
    grid-area: platform-label;
}

.filter-bar label[for="dev"]{
    grid-area: dev-label;
}

.genre-filter{
    grid-area: genre-filter; 
}

.platform-filter{
    grid-area: platform-filter;
}

.dev-filter{
    grid-area: dev-filter;
}

.apply-filter{
    grid-area: apply-filter;
    justify-self: stretch;
    border: 1px solid #2b2929;
    background: #2b2929;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}

.apply-filter:hover{
    grid-area: apply-filter;
    border: 1px solid #2b2929;
    background: #fff;
    border-radius: 15px;
    cursor: pointer;
    color: #2b2929;
}

.overview{
    grid-area: overview;
    width: 66%;
    margin-top: 1%;
}

.overview-table-container{
    width: 100%;
    height: 100%;
}

.overview-entry{
    width:  100%;
    height: 10%;
    margin: 5%;
    display: grid;
    grid-template-areas: "overview-image overview-info";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;

    justify-items: normal;
    justify-content: space-between;
    align-items: center;
}

.overview-image{
    grid-area: overview-image;
    max-height: 250px;
    display: block;
}

.overview-image img{
    max-width: 100%;
    max-height: 250px;
    display: block;
}

.overview-info{
    grid-area: overview-info;
    display: grid;
    grid-template-areas: "game-title game-title"
          "game-developer game-developer"
          "game-genres game-platforms"
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 10% auto;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    row-gap: 10%;

}

.game-title{
    grid-area: game-title;
    font-size: 150%;
}

.game-developer{
    grid-area: game-developer;
}

.game-genres{
    grid-area: game-genres;
}

.game-platforms{
    grid-area: game-platforms
}